.update {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  color: #999999;
  margin-bottom: 10px;
}
.image {
  width: 100%;
}
.image img {
  width: 100%;
}
/* 첨부 파일 */
.filebox {
  margin-top: 10px;
  width: 100%;
}
.filebox .upload_name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 90%;
  color: #999999;
}
.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  width: 10%;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.file_image {
  margin: 10px 0 5px 0;
}
.webtoon_comment_update {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.webtoon_comment_update button {
  margin-top: 10px;
  width: 500px;
  padding: 10px 20px;
  background-color: #4db9ff;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.2s all;
}
.webtoon_comment_update button:hover {
  background-color: #50f2f5;
}
.webtoon_comment_update button:nth-child(1) {
  border-right: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .update {
    width: 700px;
    margin-top: 300px;
  }

  .webtoon_comment_update button {
    width: 100%;
  }
  .filebox .upload_name {
    width: 50%;
  }
  .filebox label {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .update {
    width: 90%;
  }
}
