.Category {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #4db9ff;
}
.Category ul {
  display: flex;
  width: 1200px;
  list-style: none;
  margin-top: 10px;
}
.Category ul li {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .Category ul {
    width: 720px;
    margin-top: 20px;
  }
  .Category ul li {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .Category ul {
    z-index: 100;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
  }
}
