.Home_webtoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Home_today {
  width: 1200px;
  padding: 20px 0;
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  .home {
    margin-top: 300px;
  }

  .Home_today {
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .Home_today {
    width: 100%;
    text-align: center;
  }
}
