/* 게시판 내용 */
.board_inner {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board_contents {
  width: 100%;
  display: flex;
  height: 60px;
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid gray;
}
.board_number,
.board_title,
.board_author,
.board_date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.board_number {
  width: 8%;
}
.board_title {
  width: 68%;
}
.board_author {
  width: 12%;
}
.board_date {
  width: 12%;
}
@media screen and (max-width: 1024px) {
  .board_contents {
    justify-content: center;
  }

  .board_title,
  .board_author,
  .board_date {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .board_inner {
    margin-top: 0;
  }
}
