.main {
  margin-top: 10px;
}
.logo {
  border-bottom: 1px solid gray;
  padding: 10px 0;
  margin-bottom: 10px;
}
.login {
  padding: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.comment {
  display: flex;
}
.webtoon_comment_container {
  border-bottom: 1px solid gray;
  padding: 40px 0;
  position: relative;
}
.webtoon_comment_author {
  position: absolute;
  top: 10px;
  font-weight: bold;
}
.webtoon_comment_date {
  margin-left: 30px;
  font-weight: 100;
  font-size: 12px;
  color: gray;
}
.webtoon_comment_comments {
  padding: 20px 0;
}
.webtoon_comment_like {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  width: 90px;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid gray;
}
.webtoon_comment_like_inner {
  position: relative;
}
.webtoon_comment_like_length {
  position: absolute;
  right: 0;
}

.webtoon_comment_update {
  bottom: 10px;
}
.webtoon_comment_update button {
  padding: 5px 10px;
  background-color: #4db9ff;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.2s all;
}
.webtoon_comment_update button:hover {
  background-color: #50f2f5;
}
.webtoon_comment_update button:nth-child(1) {
  border-right: 1px solid white;
}
.webtoon_comment_post_container {
  display: flex;
}
.webtoon_comment_post {
  display: flex;
  gap: 10px;
  width: 100%;
}
.webtoon_comment_post input {
  height: 40px;
  padding: 0 10px;
  width: 90%;
  border: 1px solid #dddddd;
}
.webtoon_comment_btn {
  width: 10%;
  padding: 3px 10px;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

/* 첨부 파일 */
.filebox {
  display: flex;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}
.filebox .upload_name {
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 90%;
  color: #999999;
}
.filebox label {
  width: 10%;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  text-align: center;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.file_image {
  margin: 10px 0 5px 0;
}
@media screen and (max-width: 1024px) {
  .filebox .upload_name {
    width: 50%;
  }
  .filebox label {
    width: 50%;
  }
  .webtoon_comment_btn {
    width: 50%;
  }
  .webtoon_comment_post input {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
}
