.board {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #d3d3d3;
  width: 1200px;
}

.image_pic {
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 10px;
}
.border_link {
  display: flex;
  width: 100%;
}

.board_number,
.board_title,
.board_author,
.board_date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board_number {
  width: 8%;
}
.board_title {
  position: relative;
  justify-content: left;
  width: 68%;
}
.board_title_inner {
  display: flex;
}
.board_comment_length {
  margin-left: 5px;
  color: red;
}
.board_author {
  width: 12%;
}
.board_date {
  width: 12%;
}

@media screen and (max-width: 1024px) {
  .board {
    width: 700px;
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .board {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .board_number {
    display: none;
  }
  .board_title {
    width: 70%;
    text-align: left;
  }
  .board_author {
    width: 15%;
  }
  .board_date {
    width: 15%;
  }
  .board_logo {
    display: block;
  }
  .board_logo h3 {
    margin-bottom: 100px;
  }
  .write {
    top: 50px;
    width: 100%;
  }
}
